body{
    height: 100%;
    background-image: url(WhatsApp\ Image\ 2026-03-15\ at\ 09.04.42.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.button{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 28px;
    left: 15px;
}
